.FontFamliy {
  font-family: "KareliaWeb Regular" !important;
}

div,
p,
h5,
button {
  font-family: "KareliaWeb Regular" !important;
}

@import url(https://db.onlinewebfonts.com/c/d29ba033bd591441ba31f6aa7054787f?family=KareliaWeb+Regular);

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.LoginPage {
  background-image: url('asserts/loginImage.png');
  background-position: bottom;
}

@media(min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }
}

.form-control {
  width: 100% !important;
}

.tableFontSize {
  font-size: 12px;
}

.selectMobileView {
  font-size: 10px !important;
}

@media screen and (max-width: 480px) {
  .tableFontSize {
    font-size: 10px;
  }

  .selectMobileView {
    width: 100px !important;
    height: 25px !important;
  }

  .inputWidhtclass {
    width: 150px !important;
  }
}

p {
  margin: 0px !important;
}